<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{customVariables.pageTitle}}</title>
    <style>
    {{> theme}}
    {{> highlight}}
    </style>
</head>
<body class="sg-body">
<div class="sg-wrap">
    {{!--Menu--}}
    <nav id="sg-menu" class="sg-menu">
        <div id="sg-menu_wrap" class="sg-menu_wrap">
            <h1 class="sg-logo">
                <a href="#" class="sg-menu_link js-menu_showall">Project Name</a>
            </h1>
            {{#each menus~}}
            {{~!--Section Start --~}}
            <ul class="sg-menu_list sg-menu_section">
                <li class="sg-menu_item sg-menu_section_item">
                    <a href="#{{@key}}" class="sg-menu_link sg-section_link js-menu_showall">
                        {{titleize @key}}
                    </a>
                    <span class="sg-menu_toggle toggle-active" data-sg-toggle="#sub-{{@key}}">&#9662;</span>
                </li>
            </ul>
            {{!-- Category list --}}
            <ul id="sub-{{@key}}" class="sg-menu_list sg-menu_category">
            {{#each this}}
                <li class="sg-menu_category_item sg-menu_item">
                    {{#if headings.1.name}} {{!--Check for sub-menus--}}
                    <a class="sg-menu_link sg-category_link" href="#{{sanitize id}}">
                        {{~category~}}
                    </a>
                    <span class="sg-menu_toggle toggle-active"
                        data-sg-toggle="[data-sg-submenu='{{headings.0.name}}']">&#9662;</span>
                    <ul class="sg-menu_list sg-menu_list-sub" data-sg-submenu="{{headings.0.name}}">
                    {{#if headings}}{{#each headings}}
                        <li class="sg-menu_item">
                            <a href="#{{sanitize id}}" class="sg-menu_link js-submenu_link">
                                {{~name~}}
                            </a>
                        </li>
                    {{/each}}{{/if}}
                    </ul>
                    {{else}}
                    <a class="sg-menu_link sg-category_link" href="#{{sanitize id}}">
                        {{~category~}}
                    </a>
                    {{/if}}
                </li>
            {{/each}}
            </ul>
            {{/each}}
            <div class="sg-menu_list sg-menu_section">
                <a href="#" class="sg-menu_link sg-section_link js-menu_showall">Show All</a>
            </div>
        </div>
    </nav>
    <main id="styleguide" {{!-- Required ID --}} class="sg-main">
    {{#each sections}}
        <section id="{{@key}}" class="sg-section" data-sg-section="{{@key}}">
            <div class="sg-section_head">
                <h1 class="sg-heading sg-heading-section">{{titleize @key}}</h1>
            </div>

            {{#each this}}
                <div class="sg-category" id="{{sanitize id}}">
                    {{!--Check for more than one article --}}
                    <header class="sg-category_head" data-sg-section="{{sanitize category}}">
                        <h2 class="sg-heading sg-heading-category">
                            {{category}}
                        </h2>
                    </header>

                {{#each articles}}
                    <article class="sg-article" id="{{sanitize id}}" data-sg-section="{{category}}" data-sg-heading="{{heading}}">
                        {{#if heading}}
                        <header class="sg-article_head {{#unless heading}}sg-category_head{{/unless}}">
                            <h3 class="sg-heading sg-heading-article">
                                {{heading}}
                            </h3>
                            {{~#if fileLocation}}
                            <code class="sg-codespan sg-file">{{fileLocation}}</code>
                            {{~/if~}}
                        </header>
                        {{/if}}
                        <div class="sg-article_comment">
                            {{{comment}}}
                        </div>
                        {{#if code}}
                        <div class="sg-example">
                            <div class="sg-example_wrap">
                                {{#each code}}{{{this}}}{{/each}}
                            </div>
                            {{#each markup}}
                            <div class="sg-markup">
                                <pre class="sg-markup_wrap"><code class="hljs">{{{this}}}</code></pre>
                            </div>
                            {{/each}}
                        </div>
                        {{/if}}
                    </article>
                {{~/each}}
                </div>
            {{/each}}
        </section>
    {{~/each}}
    </main>
</div>
<!--JQuery-->
<!--[if lte IE 8]>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
<![endif]-->

<!--[if gt IE 8]><!-->
<script>{{> jquery}}</script>
<!--<![endif]-->
<script>{{> hash}}</script>
<script>{{> sticky}}</script>
<script>
{{> utilities}}
</script>
<!-- {{#each customVars.scripts}}
    <script src="{{this}}"></script>
{{/each}} -->
</body>
</html>
